body {
  font-family: "Raleway", sans-serif;
  background-color: #000000;
  font-size: 14px;
}

.nav-bar {
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  z-index:10;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-bar .page-links-wrapper a{
  color: #333333;
  cursor: pointer;
}
.nav-bar .page-links-wrapper a:hover{
  font-weight: 800;
  color: red;
}
.nav-bar .icon-links-wrapper{
  align-items: flex-end;
}
.nav-bar .icon-links-wrapper .topNav-icon img{
  width: 20px;
  height: 20px;
}

.content-wrapper {
  margin: 0 auto;
}

.jumbotron {
  background-color: transparent;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.jumbotron img{
  width: 100%;
}

.sections-container{
  padding: 0 15px;
  margin-left:auto;
  margin-right:auto;
}
.sections-container div.sections {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 25px 100px;
  max-width: 1024px;
  margin: 25px auto;
  text-align: center;
}
.sections-container div.sections h2 {
  font-family: "Archivo Black", sans-serif;
  font-size: 30px;
  color: #333333;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.content-wrapper div.sections-container div.sections p {
  margin: 10px auto;
  max-width: 700px;
}
.content-wrapper div.sections-container div.sections h3 {
  margin: 25px 0 0px;
  font-family: "Archivo Black", sans-serif;
  font-size: 20px;
  color: #333333;
  text-transform: uppercase;
}
.no-wrap{
  white-space: nowrap;
}

#profilePic {
  width: 200px;
  height: auto;
  margin: 10px 0;
}

.personal-p-wrapper{
  max-width:600px;
  margin:0 auto;
}
.personal-p{
  display:block;
  max-width:415px !important;
}
.left-p{
  float:left;
}
.right-p{
  float:right;
}

.thumb-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.thumb-wrap h3{
  width: 100%;
  text-align:center;
  padding-bottom:10px;
}
.portfolio-thumbnails {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width: 215px;
  height: 129px;
  margin: 5px;
}
.portfolio-thumbnails:hover {
  opacity: 0.7;
}
.technologies{
  max-width: 470px !important;
}

iframe{
  margin: 10px 0;
}

/* MODALS */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  align-items: center;
  justify-content: center;
}

.close {
  position: absolute;
  top: 60px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* PROJECT MODAL */
#project-modal{
  flex-direction:column;
}
.modal-img {
  display: block;
  width: 100%;
  max-width: 700px;
}
.modal-caption {
  display: block;
  width: 80%;
  max-width: 650px;
  text-align: center;
  color: #ccc;
  font-size: 18px;
  padding: 30px 0;
}
/* Add Animation */
.modal-img, .modal-caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
#project-modal .button-wrapper{
  display:flex;
  justify-content: center;
}
#project-modal .button-wrapper a{
  padding: 10px 25px;
  text-align:center;
  min-width: 175px;
  max-width: 175px;
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  margin: 0 10px;
}

/* CERTIFICATION MODAL */
#carousel{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.carousel-item-wrap{
  max-width: 767px;
  width: 100%;
  text-align: center;
}
.carousel .carousel-item-wrap .carousel-item{
  display:none;
}
.carousel .carousel-item-wrap .carousel-item.active{
  display:flex;
}
.carousel .carousel-item-wrap .carousel-item.veeva-certz{
  flex-wrap: wrap;
  justify-content:center;
}
.carousel .carousel-item-wrap .carousel-item.veeva-certz img{
  max-width:150px;
}
.carousel-item img{
  width:100%;
}
.carousel-trigger-wrap{
  display:flex;
  justify-content:center;
}
.c-trig {
  color: white;
  font-size: 20px;
  margin: 20px;
}

/* FOOTER */
footer {
  font-family: "Archivo Black", sans-serif;
  font-size: 18px;
  text-align: center;
  padding:20px 0;
  color: #ffffff;
}

/* MEDIA QUERIES */
@media(max-width: 1024px){
  .content-wrapper .sections-container{
    padding: 0 25px;
    margin-left:auto;
    margin-right:auto;
  }
}

@media (max-width: 770px){
  .content-wrapper {
    padding-top:20px;
  }
}

@media (max-width: 720px){
  span.hidden-star{
    display:inline-block !important;
  }
  .dsk-only{
    display:none;
  }
}

@media (max-width: 600px){
  .navbar-brand{
    padding: 15px 10px;
  }
  .jumbotron h1{
    font-size: 60px !important;
  }
  div.sections{
    padding: 25px !important;
  }
  .left-p, .right-p{
    float:inherit;
  }
  .portfolio-thumbnails{
    width: 100%;
    height:auto;
  }
  iframe{
    width: 100%;
  }
  .close{
    top: 50px;
  }
  #project-modal .button-wrapper{
    flex-direction:column;
  }
  #project-modal .button-wrapper a{
    margin: 15px 0;
  }
  .carousel-item{
    padding:0 25px;
  }
  .carousel .carousel-item-wrap .carousel-item.veeva-certz img{
    max-width:100px;
  }
}
@media only screen and (max-width: 400px){
  .veeva-copy{
    white-space:normal;
  }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 800px) {
  .modal-content {
    width: 100%;
  }

  .resume {
    width: 100%;
  }
}

@media only screen and (max-width: 370px){
  .nav-bar .navbar-brand{
    padding: 15px 5px !important;
  }
  .nav-bar .icon-links-wrapper .topNav-icon{
    padding: 15px 5px 15px 10px !important;
  }
}
/* @media only screen and (max-width: 00px){} */
