body {
  font-family: "Slabo 27px", serif;
  background-color: #f5e0ad;
  font-size: 14px;
}

.navbar {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index:10;
}

.right {
  float: right;
}

.content-wrapper {
  margin: 0 auto;
}
.content-wrapper .jumbotron {
  background-color: transparent;
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.content-wrapper .jumbotron h1 {
  position: absolute;
  font-family: "Abril Fatface", cursive;
  font-size: 150px;
  color: white;
}
.content-wrapper div.container div.sections {
  background-color: white;
  padding: 25px 100px;
  max-width: 1024px;
  margin: 15px auto;
  text-align: center;
}
.content-wrapper div.container div.sections h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 30px;
  color: #6fbdff;
  margin-bottom: 25px;
}
.content-wrapper div.container div.sections p {
  margin: 10px auto;
  max-width: 700px;
}
.content-wrapper div.container div.sections h3 {
  margin: 25px 0 0px;
  font-family: "Abril Fatface", cursive;
  font-size: 20px;
  color: #6fbdff;
}

#profilePic {
  width: 200px;
  height: auto;
  /* padding: 15px; */
}

#poke,
#grub,
#refresh,
#weather {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#poke:hover,
#grub:hover,
#refresh:hover,
#weather:hover {
  opacity: 0.7;
}

iframe{
  margin: 10px 0;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#captionOne,
#captionTwo,
#captionThree,
#captionFour {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption,
#captionTwo,
#captionThree,
#captionFour {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.technologies{
  max-width: 500px !important;
}
span.hidden-star{
  display:none;
}

footer {
  font-family: "Abril Fatface", cursive;
  font-size: 18px;
  right: 0;
  bottom: 0;
  text-align: center;
}

@media(max-width: 1024px){
  .jumbotron img{
    width: 100%;
  }
  .jumbotron h1{
    font-size: 100px !important;
  }
}
@media(max-width: 700px){
  .hidden-star{
    display:block;
  }
}
@media(max-width: 600px){
  .navbar-brand{
    padding: 15px 10px;
  }
  .jumbotron h1{
    font-size: 60px !important;
  }
  div.sections{
    padding: 25px !important;
  }
  iframe{
    width: 100%;
  }
  .close{
    top: 60px;
  }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 800px) {

  .bg-cover {
    width: fit-content;
  }

  .modal-content {
    width: 100%;
  }

  .resume {
    width: 100%;
  }
}
/* @media only screen and (max-width: 00px){ */
